<article>  
  <img *ngIf="data.images.original.url" [src]="data.images.original.url" alt="gif" class="gif">
  <div class="favorites-container">
  	<img src="../assets/star-outline.png" alt="add to favorites">
  	<p><b>Add to favorites</b></p>	
  </div>
  <div class="info">
  	<h2>{{data.title | trimTitle}}</h2>
    <img *ngIf="data.user" [src]="data.user.avatar_url" alt="author-profile" [title] = "data.user.display_name">
    <h3 *ngIf="data.user">{{data.user.display_name | shortenTitle}}</h3>
  </div>
</article>